<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.eurofurence.connavigator">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Main entry point of the application -->
    <application
            android:name=".app.ConnavigatorApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- Service providing a detached retrieval of data from the internet. -->
        <service
                android:name=".database.UpdateIntentService"
                android:exported="false"/>

        <!-- Main screen within the application -->
        <activity
                android:name=".ui.LaunchScreenActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.EventActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="Event View">
        </activity>
    </application>
</manifest>
